.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-img {
  width: 50%;
}

.hero-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: opacity 1s ease-in-out;
}
