.footer-section input {
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
}

.footer-section button {
  background: #007b5d;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 20px;
}

.footer-section button:hover {
  opacity: .8;
}
.election-footer {
  background: #001a33;
  padding: 70px 10%;
  color: white;
  font-family: "Inter", sans-serif;
  border-top: 8px solid #007b5d;
}

.footer-wrapper {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* TITLES BIG */
.footer-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 800;
  color: #007b5d;
}

/* SUB HEADINGS */
.footer-section h3 {
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 3px solid #007b5d;
  width: fit-content;
}

/* paragraph */
.footer-section p {
  max-width: 380px;
  line-height: 1.7;
  opacity: .8;
}

/* navigation */
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 14px;
}

.footer-section a {
  font-size: 17px;
  color: white;
  opacity: .8;
  font-weight: 600;
}

.footer-section a:hover {
  opacity: 1;
}

/* icons BIGGER */
.social-icons a {
  font-size: 32px;
  margin-right: 25px;
  color: #007b5d;
}

.social-icons a:hover {
  opacity: .5;
}

/* bottom */
.bottom-line {
  margin-top: 50px;
  text-align: center;
  padding-top: 30px;
  font-size: 15px;
  opacity: .6;
  border-top: 1px solid rgba(255,255,255,.2);
}

/* responsive */
@media (max-width: 900px) {
  .footer-wrapper {
    flex-direction: column;
  }
}
